<!DOCTYPE html>

<html>

<head>

<title>
Register
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<div class="auth-box">


<h2>
Create Account
</h2>


<input 
id="username"
placeholder="Username"
>


<input 
id="email"
placeholder="Email"
>


<input 
id="password"
type="password"
placeholder="Password"
>


<button onclick="register()">
Register
</button>


<a href="login.html">
Login
</a>


</div>


<script src="{{ url_for('static', filename='js/auth.js') }}"></script>


</body>


</html>
